.header {
  display: flex;
  align-self:center;
  justify-content: center;
  background-color: #a7edc1;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 650px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.header ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: color 0.2s;
  text-align: center;
  font-size: medium;
}

.header ul li a:hover {
  color: #ff0000;
}